@media (max-width: 640px) {
    .report{
    margin-left: -18px;    
    max-width: 70%;
    }
  }
  @media (max-width: 400px) {
    .report{
      margin-left:-22px;    
      max-width: 65%;
      }
  }
  @media (max-width: 365px) {
    .report{
      margin-left:-28px;    
      max-width: 65%;
      }
  }